body {
    background-color: black;
    color: white;
}

[id="T3057851291"].page {
	min-height: var(--viewport-height);
}

[id="T3057851291"] .backdrop {
}

.mobile [id="T3057851291"] .backdrop {
}

.mobile [id="T3057851291"] .page-layout {
}

[id="T3057851291"] .page-content {
	align-items: flex-start;
	width: 100%;
}
